html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
button {
  border: none;
}
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  :root {
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-sfpro: 'SF Pro Text', sans-serif;
    --blue: #3177f2;
    --orange: #ff5d17;
    --black: #2b2b2b;
    --grey: #646464;
    --white: #fff;
    --grey-light: #f8f8f8;
  }
}

* {
  font-family: var(--font-poppins), sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}

@layer utilities {
  .text-balance {
    /*text-wrap: balance;*/
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#nprogress .bar {
  @apply bg-primary !important;
}

#nprogress .peg {
  @apply shadow-md shadow-primary !important;
}

#nprogress .spinner-icon {
  @apply border-t-primary border-l-primary !important;
}
